
@import "tailwindcss";
body {
  overflow-x: hidden;
}

.book,p{
  font-family: var(--font-avenir);
  font-weight: 300; /* book */
}

.medium,a,button,label {
  font-family: var(--font-avenir);
  font-weight: 400; /* Medium */
}

.avenir-bold {
  font-family: var(--font-avenir);
  font-weight:600; /* Bold */
}
h2 {
  font-family: var(--font-sansumi);
  font-weight:500; 
}
h1 {
  font-family: var(--font-sansumi);
  font-weight:600; /* bold*/
}


/* .btn-avenir {
  font-family: var(--font-avenir) !important;
  font-weight: 300 !important;
} */
